html 
    head
        link(rel='stylesheet' href='/sak.css')
        script(src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js')
        script(src='/visSak.js')
    body
        h1(id='sakstittel') Sak 1 - Konstituering