html 
    head
        link(rel='stylesheet' href='/super.css')
        
        script(src='/socket.io/socket.io.js')
        script(src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js')
        
        
        script(src='/visSuper.js')
    body
        div(id='canvas')
            div(id='super' style='display:none;')
                h1(id='supername') Simon Ingebrigtsen
                h2(id='supertitle') Leder av Hyperion

                